# Change the permissions for the JTAG USB device
#   idVendor           0x0403 Future Technology Devices International, Ltd
#   idProduct          0x6010 FT2232C Dual USB-UART/FIFO IC
# ACTION=="add", SUBSYSTEM=="usb", SYSFS{idVendor}=="0403", SYSFS{idProduct}=="6010", MODE="0666"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0403", ATTR{idProduct}=="6010", MODE="0666"
